<div class="row " >
    <div class="col-lg-6 offset-lg-3 padding">
        <input type="text" [(ngModel)]="artistFilter" class="form-control" id="artistFilter" placeholder="Enter a artist name.">
    </div>

    <div class="col-lg-4 padding forcenter" *ngFor="let artist of artists | artistfilter:artistFilter">
        <div class="card ">
            <img  class="card-img-top" src="{{artist.photo}}" id="forcoverimg" alt="Not working">
            <div class="card-body">
              <h3>Artist:{{artist.fullName}}</h3>
              <a class="btn btn-secondary btn-lg rounded-pill" routerLink = "/aktörler/{{artist.artistId}}" >Get Details</a>
            </div>  
        </div>
    </div>
    
    
    
</div>
