<div class="row " >

    <div class="col-lg-6 offset-lg-3 padding">
        <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Enter a card name.">
    </div>

    <!-- <div class=" col-lg-6 padding">
        <select [(ngModel)]="filterType"  class="forselect">
            <option *ngFor="let movieType of movieTypes" [ngValue]="movieType.movieTypeId">{{movieType.movieTypeName}}</option>
        </select>
    </div> -->
    

    <div class="col-lg-4 col-md-6 padding forcenter" *ngFor="let movie of movies |moviefilter:filterText ">
        <div class="card  ">
            <img  class="card-img-top" src="{{movie.coverImage}}" id="forcoverimg" alt="Not working">
            <div class="card-body cardpadding">
              <h4>Movie:{{movie.movieName}}</h4>
              <h3></h3>
              <h5>Director:{{movie.directorName}}</h5>
              <a class="btn btn-secondary btn-lg rounded-pill" routerLink = "/filmler/{{movie.movieId}}" >Get Details</a>
            </div>
            
        </div>

    </div>
    
    
    
</div>

  
