.forbackground{
    background-color:#53B8BB ;
}
.padding{
    padding-top: 0.8rem ;
    padding-bottom: 0.8rem;
}
.cardpadding{
    padding-bottom: 2rem;
}

#forimg{
    width: 18rem;
    height: 25rem;
}
.forcenter{
    text-align: center;
}
#forcoverimg{
    width: 100%;
    height: 30rem; 
}
.formoviepadding{
    padding-top: 2rem;
}
.card{
   background-color: #FFD369; 
   height: 100%;
}

.btn
 {
     background-color: #2c2727;
 }

 .forselect{
     height: 2.4rem;
     width: 40rem;
 }
 .toppadding{
     padding-top: 2rem;
 }