<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div class="card">
        <div class="card-header">
            <h5 class="title">Film Ekle</h5>
        </div>
        <div class="card-body">
          
            <form  form [formGroup]="addArtistForm">
              <div class="mb-3">
                    <label for="fullName">Aktör Adı ve Soyadı:</label>
                    <div class="form-group">
                        <input type="string" id="movieName" formControlName="fullName" class="form-control" placeholder="isim ve soyisim"/> 
                    </div>
              </div>
              <div class="mb-3">
                <label for="photo">Aktörün Fotoğrafı(URL):</label>
                <div class="form-group">
                <input type="url" id="coverImage" formControlName="photo" class="form-control" placeholder="URL"/> 
                </div>
              </div>
  
                
                <div class="mb-3">
                    <label for="history">Film özeti:</label>
                    <div class="form-group">
                        <input type="string" id="history" formControlName="history" class="form-control" placeholder="Aktörün hayatı"/> 
                    </div>
                </div>

                
            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
        </div>
    </div>
    </div>
  </div>
