<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div class="card">
        <div class="card-header">
            <h5 class="title">Film Ekle</h5>
        </div>
        <div class="card-body">
          <div class="forcenter">
            <h2>Film:</h2>
            <select [(ngModel)]="movieFilter" >
              <option *ngFor="let movie of movies" [ngValue]="movie.movieId">{{movie.movieName}}</option>
            </select>
          </div>
         <div class="forcenter padding">
            <h2>Artist:</h2>
            <select [(ngModel)]="typeFilter">
              <option *ngFor="let movieType of movieTypes" [ngValue]="movieType.movieTypeId">{{movieType.movieTypeName}}</option>
            </select>
         </div>
          
            
        </div>
        <div class="card-footer">
            <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
        </div>
    </div>
    </div>
  </div>
