<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div class="card">
        <div class="card-header">
            <h5 class="title">Film Ekle</h5>
        </div>
        <div class="card-body">
          
            <form  form [formGroup]="addMovieForm">
              <div class="mb-3">
                    <label for="movieName">Film adı:</label>
                    <div class="form-group">
                        <input type="string" id="movieName" formControlName="movieName"  class="form-control" placeholder="Film Adı"/> 
                    </div>
              </div>
              <div class="mb-3">
                <label for="coverImage">Kapak Fotoğrafı(URL):</label>
                <div class="form-group">
                <input type="text" id="coverImage" formControlName="coverImage" class="form-control" placeholder="URL"/> 
                </div>
              </div>
  
                <div class="mb-3">
                    <label for="directorName">Direktörün adı:</label>
                    <div class="form-group">
                    <input type="string" id="directorName" formControlName="directorName"  class="form-control" placeholder="Direktör"/> 
                    </div>
                </div>
                <div class="mb-3">
                    <label for="explanation">Film özeti:</label>
                    <div class="form-group">
                        <input type="string" id="explanation" formControlName="explanation" class="form-control" placeholder="Film özeti"/> 
                    </div>
                </div>

                <div class="mb-3">
                    <label for="unitPrice">Çıkış tarihi</label>
                    <div class="form-group">
                        <input type="number" id="releaseDate" formControlName="releaseDate" class="form-control" placeholder="Çıkış tarihi" >
                    </div> 
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-fill btn-primary" (click)="add()" >Ekle</button>
        </div>
    </div>
    </div>
  </div>